@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to left,black, rgb(52, 216, 216),black);
    background-repeat: no-repeat;
    text-align: center;
    height: 98vh
}
div{
    padding: 10px;
    text-align: center;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
#tprincipal{
    color: rgba(250, 7, 7, 0.7);
}
#titulomenu{
    display: none;
}
nav#menu ul{
   
    background-color: rgb(19, 189, 189);
    width: 300px;
    display: block;
    position: center;
}
li{
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: 1s;
   
}
li:hover{
   background-color: rgba(121, 233, 248, 0.555);  
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
#iframe1{
    display: none;
    margin-left: 13vw;
}