@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    /*background-image: linear-gradient(to left,black, rgb(52, 216, 216),black);*/
    background-color: white;
    background-repeat: no-repeat;
    text-align: center;
    height: 98vh
}
div{
    padding: 10px;
    text-align: center;
    margin: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
#tprincipal{
    color: rgba(250, 7, 7, 0.7);
}
#titulomenu{
    display: none;
}
nav#menu ul{
    width: 30vw;
    display: block;
    
}
li{
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    
    background-color: black;
    transition: 1s;
   
}
li:hover{
   background-color: rgba(39, 45, 46, 0.555);  
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    text-decoration: underline;
    color: black;
}
#iframe1{
    display: none;
    width: 60vw;
    height: 30vw;
    margin: 0 auto;
}
p{
    margin: 0 auto;
    width: 180px;
    font-size: 20px; 
     
}
#musica1:hover{
    text-decoration: underline;
    background-color: rgba(39, 45, 46, 0.555);
    color: black;
}
#button1{
    display: none;
    background-color: rgba(0, 0, 0, 0.63); 
    color: white; 
}